<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件上传</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">文件</label>
        <input type="file" name="file" id="file">
        <input type="submit">
    </form>
</body>

</html>